<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> -  Blog</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>

    <%- include('partials/header') %>

    <%- include('partials/navigation') %>

   
    <% if (title === 'Home') { %>
        <div class="hero">
            <div class="hero-content">
                <h1>Welcome to My Blog</h1>
                <p>Explore the latest news and articles.</p>
                <a href="/new" class="btn">Create New Post</a>
            </div>
        </div>
    <% } %>

   
    <main class="main-content">
        <%- content %>
    </main>

   
    <%- include('partials/footer') %>
</body>
</html>
